@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  min-height: 0;
  min-width: 0;
  }
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

.bg_1 { 
  background-size: contain;
}

.bg_2 {
  background-size: cover;
}


.bg_3 {
  background-size: cover;
}

.bg_4 {
  background-size: cover;
}

.no_scroll::-webkit-scrollbar
{
	width: 0;
}

.list_noti .ant-drawer-body::-webkit-scrollbar
{
	width: 10px;
  border-radius: 15px;
	background-color: #F5F5F5;
}

.list_noti .ant-drawer-body::-webkit-scrollbar-thumb
{
	background-color: rgb(153, 147, 139);	
  border-radius: 15px;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.list_noti .ant-drawer-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  border-radius: 15px;

}

.custom_scroll::-webkit-scrollbar
{
	width: 10px;
  border-radius: 15px;
	background-color: #F5F5F5;
}

.custom_scroll::-webkit-scrollbar-thumb
{
	background-color: rgb(153, 147, 139);	
  border-radius: 15px;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.text_gradient {
	background: -webkit-linear-gradient(#5f52c3, #7e72cb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rate_custom .ant-rate-star:not(:last-child) {
    margin-right: 4px;
} 

.slick-slide {
  /* margin: 0 10px; */
}

.tree_category  span.ant-tree-title {
  font-size: 14px !important;
  text-transform: uppercase;
}

.tree_category span.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal,
.tree_category span.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-close,
.tree_category .ant-tree-node-selected ,
.tree_category .ant-tree-node-content-wrapper-open {
  min-height: 34px !important;
  display: flex;
  align-items: center;
}

.tree_category .ant-tree-switcher-leaf-line::after {
  height: 17px;
}

.tree_category .ant-tree-node-selected {
  padding: 0 14px !important;
  border-radius: 8px !important;
}

.tree_category .ant-tree-node-content-wrapper-open {
  margin-top: 3px;
}

.form_item {
  margin-bottom: 12px !important;
}

.site-form-item-icon {
  padding: 0 4px 0 0 !important;
}

.input_auth {
  padding: 8px 14px !important;
}
.login-form-button {
  border-radius: 999px !important;
  width: 100% !important;
}

.input-radius {
  border-radius: 999px !important;
}

.ant-list-item {
  padding: 0 !important;
}

.ant-list-item:not(:first-child) {
  margin-top: 20px;
}

.custom_desc *,
.custom_desc * div > div > .g-mb-30
 { 
  font-size: 13px !important;
  font-weight: normal !important;
  color: #cdcaca;
  margin-bottom: 0 !important;
}

.custom_desc_detail * {
  font-size: 14px !important;
}

.payment-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.payment-info > span:first-child {
  font-weight: 300;
  color: rgb(51, 51, 51);
  display: inline-block;
}

.payment-info > span:last-child {
  font-weight: 500;
}

.payment-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-total > span:first-child {
  font-weight: 300;
  color: rgb(51, 51, 51);
  display: inline-block;
}

.payment-total > span:last-child {
  color: rgb(254, 56, 52);
  font-size: 22px;
  font-weight: 400;
  text-align: right;
}

.payment-VAT {
  font-weight: 300;
  font-style: normal;
  display: block;
  font-size: 12px;
  color: rgb(51, 51, 51);
  margin-top: 3px;
  text-align: right;
}
.zoid-outlet {
  width: 100% !important;
}

[data-theme='compact'] .site-navigation-steps,
.site-navigation-steps {
  margin-bottom: 60px;
  box-shadow: 0px -1px 0 0 #e8e8e8 inset;
}

span.ant-steps-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overflow_word {
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}



/* comment */
/* css comment */
.comments_list {
  margin-bottom: 20px;
}

.comment_card {
  /* border: 1px solid #999; */
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;

  /* background-color: rgb(242, 239, 239); */
  /* box-shadow: 1px 2px 3px; */
}

.comment_card_row > div > h3 {
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 2px;
  padding-right: 10px;
}

.comment_card_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px 0;
  cursor: pointer;
}

/* .comment_card span {
  margin-right: 10px;
} */

.comment_card p {
  line-height: 1.5;
}

.comment_card .nav_comment {
  display: flex;
  flex-wrap: wrap;
}

.comment_card .nav_comment p {
  margin-right: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: color 0.3s;
  margin-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.comment_card .nav_comment p:hover {
  text-decoration: underline;
}

/* reply comment */

.reply_comment {
  margin-left: 20px;
}



.comment_card-reply::before {
  content: '';
  display: block;
  position: absolute;
  width: 36px;
  height: 20px;
  /* background: red; */
  border-bottom: 2px solid #ccc;
  border-bottom-left-radius: 100px;
  left: 0;
}

.comment_card-noreply {
  position: relative;
}

.comment_card-noreply::after {
  content: '';
  display: block;
  position: absolute;
  height: calc(100% - 120px);
  width: 2px;
  background-color: #ccc;
  top: 6%;
  left: 0;
  border-radius: 50%;
}

.discount {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  background: #de2000;
  width: 32px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}